.sidebar {
    position: fixed;
    z-index: 10;
    text-align: center;
    width: 200px;
    height: 100%;
    color: #fff;
    background: #3b4966;
    overflow-y: auto;
    .yq-logo {
        height: 84px;
        background: #2c3955 url(/images/yiqi-logo.png) center no-repeat;
    }
    .yq-nav {
        li {
            line-height: 67px;
            text-align: center;
            position: relative;
            border-bottom: 1px solid #3f4e6b;
            &:hover,
            &.on {
                background-color: #33415d;
                &:after {
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background-color: #226da2;
                }
            }
        }
        a {
            display: block;
            color: #fff;
        }
    }
    .yq-dl {
      color: #898f9e;
      font-size: 14px;
        padding: 20px 0;
        border-top: 1px solid #3f4e6b;
        dt{
          padding-bottom: 10px;
        }
        dd{
            font-size: 12px;
        }
    }
    .contact{
        padding: 20px 0;
        font-size: 12px;
        color: #6f778a;
    }
}